<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <div class="container">

        <h1><%= title%></h1>
        <form action="/add" method="post">
            <legend>Add a task</legend>
            <div class="form-group">
                <input type="text" id="title" class="form-control" name="title" placeholder="Name">
            </div>
            <div class="form-group">
                <textarea class="form-control" name="description" id="" cols="50" rows="2"
                    placeholder="Add a description"></textarea>
            </div>
            <button class="btn btn-primary">Add</button>
        </form>
        <hr>
        <table class="table table-stripped table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>operation</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i = 0; i<tasks.length; i++) {%>
                <tr>
                    <td><%= i+1%></td>
                    <td>
                        <strong>
                            <%=tasks[i].title%>
                        </strong>
                    </td>
                    <td>
                        <%=tasks[i].description%>
                    </td>
                    <td>
                        <a class="<%= tasks[i].status ? 'btn btn-success' : 'btn btn-dark'%>" href="/turn/<%=tasks[i]._id%>">Done</a>
                        <a 
                        id="delete"
                        class="btn btn-danger" href="/delete/<%=tasks[i]._id%>">Delete</a>
                    </td>
                </tr>
                <%}%>
            </tbody>
        </table>
    </div>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script>
    document.getElementById('title').focus();
    document.getElementById('delete').addEventListener('click', function (e) {
        let response = confirm('are you sure to delete?')
        if(!response) {
          e.preventDefault();  
        }
    })
</script>
</body>
</html>